//colors
$blue-green:#2A737E;
$black:#030830;
$white-gray: #F2F9EC;
$white:#fff;
$bez:#D4E0A3;
$light-blue-sky:#B3E0E6;
$burgundy:#7A2963;
$lighter-green:#8CD9C2;

//bingo boje
$red:#C24747;
$light-red:#CD6F6A;

$green:#318E2F;
$light-green:#81D597;

$pink:#CD8CD9;
$light-pink:#ECCAC6;

$blue:#98A2DD;
$blue-sky:#3660A1;

$purple:#3D2060;
$light-purple: #7A297A;

$orange: #C47C4F;
$light-orange: #C78757;

$yellow: yellow;
$light-yellow: #C0CF6E;